@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    12339 B 10th pl NE<br />
    Seattle, WA, 98125<br />
    (206) 819-2198
</address>

<address>
    <strong>Email:</strong> <a href="mailto:apratt91@gmail.com">APratt91@gmail.com</a><br />
    <a href="https://www.linkedin.com/in/avery-pratt-359548124/">Linkedin</a><br />
</address>
